.header{
    height: 80px;
    background:#1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: salmon;
    cursor: pointer;
}
@media(max-width:768px){
    .header{
        padding-top:5px;
        padding-bottom:5px;
        flex-direction: column;
    }
}
